.kaufman__triangle {
	width: 995px;
  height: 1005px;
  background-image: url(/project1/images/triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -8.75em;
  z-index: 0;
  animation: rotation linear 20s infinite;
}
