.khan__buy-link {
	position: absolute;
	margin-left: 656px;
	line-height: 42px;
	font-size: 30px;
	font-weight: normal;
	position: absolute;
	top: 0;
	color: #2f80ed;
	text-decoration: none;
}
